
<center><div class="label label-default"><h2>マイページ</h2></div></center>
<div class="mx-auto" style="width: 200px;">
<div class="actions" >
  <div class="col-md-20">
  <div class="kankaku1">
    <p><a href="#" class="square_btn">登録情報</a></p></div>
    <p><a href="#" class="square_btn">パスワード変更</a></p>
  <div class="kankaku">
    <p><a href="#" class="square_btn">ログアウト</a></p></div>
</div>
</div>
</div>
