<h1>KCS北九州情報専門学校</h1>
<div class="labelstudent label-default">
  <h2>成績紹介</h2>
</div>
<table class="table" width="10%" height="100">
  <thead>
    <tr>
      <th>科目名</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>セキュリティ</td>
      <td>優</td>
    </tr>
    <tr>
      <td>データベース</td>
      <td>良</td>
    </tr>
    <tr>
      <td>アルゴリズム</td>
      <td>可</td>
    </tr>
  </tbody>
</table>
