<center><h1>KCS北九州情報専門学校</h1>
<p><h2><div class="label label-default">パスワード変更</div></h2></p>
<ul>
あなたのパスワードをお好きなパスワードに変更できます。</li><br>

セキュリティを高くするために月に1度はパスワードの変更をおすすめします。</li><br><br>
<%= form_tag({ controller: :student, action: :password_comp},
id: :password) do %>
<%= password_field_tag :pass, '',class:'form-control', size: 30 %>
<br><%= password_field_tag :pass, '',class:'form-control' , size: 30 %>
<br>（ご入力防止のため2度入力ください）
<div class="actions" >
<div class="col-md-10">
<br><%= submit_tag '変　　更' ,class:'btn btn-primary mb-2'%>
<input type="reset" class="btn btn-primary mb-2" value="リセット">
</div>
</div>
</center>
  <% end %>
