<center><h1>KCS北九州情報専門学校</h1>
<p><h2><div class="labelstudent label-default">時間割</div></h2></p></center>
<table class="table" width="100%" height="100">
  <thead>
    <tr>
      <th></th>
      <th>月曜日</th>
      <th>火曜日</th>
      <th>水曜日</th>
      <th>木曜日</th>
      <th>金曜日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>１時限目</th>
      <td>セキュリティ</td>
      <td>セキュリティ</td>
      <td>セキュリティ</td>
      <td>セキュリティ</td>
      <td>セキュリティ</td>
    </tr>
    <tr>
      <th>２時限目</th>
      <td>データベース</td>
      <td>データベース</td>
      <td>データベース</td>
      <td>データベース</td>
      <td>データベース</td>
    </tr>
    <tr>
      <th>３時限目</th>
      <td>アルゴリズム</td>
      <td>アルゴリズム</td>
      <td>アルゴリズム</td>
      <td>アルゴリズム</td>
      <td>アルゴリズム</td>
    </tr>
    <tr>
      <th>４時限目</th>
      <td>ハードウェア</td>
      <td>ハードウェア</td>
      <td>ハードウェア</td>
      <td>ハードウェア</td>
      <td>ハードウェア</td>
    </tr>
  </tbody>
</table>
