<center><h1>KCS北九州情報専門学校</h1>
<p><h2><div class="label label-default">パスワード変更</div></h2></p>
<ul>
あなたのパスワードをお好きなパスワードに変更できます。</li><br>

セキュリティを高くするために月に1度はパスワードの変更をおすすめします。</li><br><br>
<%= form_tag({ controller: :student, action: :password_comp},
id: :password) do %>
<%= password_field_tag :pass, '', size: 30 %>
<br><%= password_field_tag :pass, '', size: 30 %>
<br>（ご入力防止のため2度入力ください）
<br><%= submit_tag '変更' %>

<input type="reset" value="リセット"></p><center>
  <% end %>
