<center><h1>KCS北九州情報専門学校ポータルサイト</h1></center>
<p><center><h2><div class="label label-default">学生連絡</div></h2></center></p>
<ul><center>
<div class="kakoi">
  <p>在校生への連絡　(2017/11/28 8:20)本日(11/28(火))、<br>
          鹿児島本線の陣原－折尾間で人身事故が起きました。そのため、<br>
          ＪＲは遅延および運休等が発生しています。ＪＲを利用してい<br>
          る学生は、気を付けて登校してください。なお、遅延証明を取っ<br>
          てくるようにお願いします。</p><br>

                以上<br>
</div>
</center>
