    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=kcskr4%40gmail.com&amp;color=%231B887A&amp;ctz=Asia%2FTokyo" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=NG5xMnBuN2ZqN3RwbGxocDZkOGRnMWs5MGYga2Nza3I0QG0&amp;tmsrc=kcskr4%40gmail.com">
                <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_ja.gif">
            </a>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
