<nav class="navbar navbar-light" style="background-color: #f0f8ff;">
  <%# <a href="#menu-toggle" class="btn btn-secondary toggled" id="menu-toggle">＝</a> %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      kcsポータルサイト
    </div>
  </div>
</nav>
